{% extends 'products/base.html' %}
{% load static %}
    <!-- Custom styles for this template -->
    {% block css %}
        <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
    {% endblock %}

<!-- Page Content -->
{% block content %}
    <section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    New looks and top brands on the Store.
                    Free worldwide shipping!
                    {% if is_promote %}
                        Outlet: up to -70% Own brand. -20% for new customers.
                    {% endif %}
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Start shopping
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}